/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 1000px;
	margin: auto;
	border: 1px solid gray;
}

.line {
	margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 48px;
    width: 876px;
    border-top: 1px solid black;
}

header {
	background-color: lightblue;
    height: 100px;
    position: fixed;
    width: 876px;
    margin-left: 48px;
}

header nav {
	display: inline-block;
    margin-top: 40px;
    margin-left: 45px;
}

header img {
	margin-left: 60px;
    margin-bottom: -13px;
}

header nav a {
	margin: 20px;
	text-decoration-line: none;
    color: black;
}

section.cta {
	background-image: url("C:/Users/kingmoc/Documents/git/User-Interface/great-idea-website/img/header-img.png");
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: contain;
	margin-top: 138px;
    margin-left: 43px;
}

.cta-text button {
	margin-left: 134px;
	font-size: 21px;
    padding: 9px;
    width: 206px;
	background-color: white;
    color: black;
    border: 1px solid black;
}

section.cta div {
	display: inline-block;
}

section.cta div h1 {
	font-size: 80px;
	margin-left: 62px;
	text-align: center;
	margin-bottom: 60px;
}

section.cta img {
	margin-left: 120px;
	margin-top: 35px;
	display: none;
}

.text-content {
	display: inline-block;
    width: 43%;
	margin-left: 50px;
}

section.main-content {
	background-image: url("C:/Users/kingmoc/Documents/git/User-Interface/great-idea-website/img/mid-page-accent.jpg");
    background-repeat: no-repeat;
    background-position: 42% 42%;
}


section.main-content img {
	display: none;
	margin: 25px 0 25px 48px;
}

div.bottom-content {
	margin-top: 235px;
}

div.bottom-content .text-content {
	width: 25%;
}

footer {
	margin-left: 50px;
}

footer p.copyright {
	margin-top: 40px;
	text-align: center;
}

footer section address {
	margin-bottom: 20px;
}

footer section p {
	line-height: 30px;
}

#about {
	width: 375px;
}